$breakpoints: (    
    "iphonex": 375px,
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px    
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

body{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

#app{
  width: 100%;
}